Users/npma-user-experience-api2/src/main/mule/user-manager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="update-user-role-flow" doc:id="1640f724-fecf-4099-a73b-3d97e718cc9a">
		<http:request method="PUT" doc:name="Request"
			doc:id="fbf4e339-07a1-4aaf-a633-1b25ad213997" config-ref="User_HTTP_Request_configuration"
			path="/users/roles/{id_user_role}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user_role" : attributes.uriParams.id_user_role
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-user-role-flow" doc:id="199445c3-cf97-43de-b262-f1f9100a8922">
		<http:request method="GET" doc:name="Request"
			doc:id="10d56ede-c2d7-4f6f-b51e-2d79dfa8415d" config-ref="User_HTTP_Request_configuration"
			path="/users/roles/{id_user_role}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user_role" : attributes.uriParams.id_user_role
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="create-user-role-flow" doc:id="89505510-9bd9-48c1-81dc-de67e27b7d73">
		<http:request method="POST" doc:name="Request"
			doc:id="719b574d-4594-4c09-bd74-0065a87c9589" config-ref="User_HTTP_Request_configuration"
			path="/users/roles" />
	</flow>
	<flow name="get-users-roles-flow" doc:id="74d8d74a-1b95-4007-92b6-37e326b5e171">
		<http:request method="GET" doc:name="Request"
			doc:id="e6fa6592-443d-40aa-b3b1-e21034c2675c" config-ref="User_HTTP_Request_configuration"
			path="/users/roles">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"Key" : "Value"
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="validate-credentials-flow" doc:id="4617c356-c3af-40cc-81a0-7afa45776a0e">
		<http:request method="POST" doc:name="Request"
			doc:id="f7b001ca-9d54-4d4f-89cd-c385641216f1" config-ref="User_HTTP_Request_configuration"
			path="/users/access" />
	</flow>
	<flow name="update-user-flow" doc:id="4b707929-475f-4904-a4d9-63d94b74b51b">
		<http:request method="PUT" doc:name="Request"
			doc:id="47040560-011b-4686-bfc9-35f22f6b2923" config-ref="User_HTTP_Request_configuration"
			path="/users/{id_user}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user" : attributes.uriParams.id_user
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-user-by-id-flow" doc:id="21104528-979f-480c-b615-fae2ea990c73">
		<http:request method="GET" doc:name="Request"
			doc:id="ea4898c4-ebbe-4215-aa8e-eee5a689833b" config-ref="User_HTTP_Request_configuration"
			path="/users/{id_user}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user" : attributes.uriParams.id_user
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="create-user-flow" doc:id="a311f4b3-18de-4a12-ab14-09fc4a9aa453">
		<http:request method="POST" doc:name="Request"
			doc:id="cd7e9f90-e548-4f6e-a7c3-4cf62042e4ba" config-ref="User_HTTP_Request_configuration"
			path="/users" />
	</flow>
	<flow name="get-all-users-flow" doc:id="c38668b4-c8ab-4c09-a752-5a5e0c783e53">
		<choice doc:name="Choice" doc:id="56b6ec2e-4920-4343-9335-420cce46133c">
			<when expression="attributes.queryParams.id_organization != null">
				<http:request method="GET" doc:name="Request"
					doc:id="11059e42-2ec5-4a3c-aa34-30cfb45b760a" config-ref="User_HTTP_Request_configuration"
					path="/users">
					<http:query-params><![CDATA[#[output application/java
---
{
	"id_organization" : attributes.queryParams.id_organization
}]]]></http:query-params>
				</http:request>
			</when>
			<otherwise>
				<http:request method="GET" doc:name="Request"
					doc:id="85946437-49b6-4280-8963-c0cdd14467fc" config-ref="User_HTTP_Request_configuration"
					path="/users">
				</http:request>
			</otherwise>
		</choice>
	</flow>
</mule>
