Beacons/npma_beacons_system_api/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\beacons\hierarchy\(id_beacon_hierarchy):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id_beacon_hierarchy">attributes.uriParams.id_beacon_hierarchy</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\beacons\hierarchy\(id_beacon_hierarchy):api-config" />
    </flow>
    <flow name="put:\beacons\place_hierarchy\(id_beacon_place_hierarchy):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id_beacon_place_hierarchy">attributes.uriParams.id_beacon_place_hierarchy</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\beacons\place_hierarchy\(id_beacon_place_hierarchy):api-config" />
    </flow>
    <flow name="put:\beacons\type\(id_beacon_type):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id_beacon_type">attributes.uriParams.id_beacon_type</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\beacons\type\(id_beacon_type):api-config" />
    </flow>
    <flow name="put:\beacons\(id_beacon):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id_beacon">attributes.uriParams.id_beacon</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\beacons\(id_beacon):api-config" />
    </flow>
    <flow name="get:\beacons:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    beacon_type: "string",
    beacon_type_id: 1,
    beacon_hierarchy: "string",
    name: "string",
    beacon_hierarchy_id: 1,
    broadcast_url: "string",
    id_organization: "93AB2E19-1057-4EF3-9856-5089FB5E6628",
    id: 1
  }, 
  {
    beacon_type: "string",
    beacon_type_id: 1,
    beacon_hierarchy: "string",
    name: "string",
    beacon_hierarchy_id: 1,
    broadcast_url: "string",
    id_organization: "93AB2E19-1057-4EF3-9856-5089FB5E6628",
    id: 1
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\beacons\hierarchy:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    name: "string"
  }, 
  {
    id: 2,
    name: "string"
  }, 
  {
    id: 3,
    name: "string"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\beacons\place_hierarchy:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    place_name: "string",
    place_hierarchies: [
      {
        id: 1,
        hierarchy_name: "string",
        beacons: [
          {
            id: 1,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }, 
          {
            id: 2,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }
        ]
      }, 
      {
        id: 2,
        hierarchy_name: "string",
        beacons: [
          {
            id: 3,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }, 
          {
            id: 4,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }
        ]
      }
    ]
  }, 
  {
    id: 1,
    place_name: "string",
    place_hierarchies: [
      {
        id: 3,
        hierarchy_name: "string",
        beacons: [
          {
            id: 5,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }, 
          {
            id: 6,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }
        ]
      }
    ]
  }, 
  {
    id: 3,
    place_name: "string",
    place_hierarchies: [
      {
        id: 4,
        hierarchy_name: "string",
        beacons: [
          {
            id: 7,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }, 
          {
            id: 8,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }
        ]
      }, 
      {
        id: 5,
        hierarchy_name: "string",
        beacons: [
          {
            id: 9,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }, 
          {
            id: 10,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }
        ]
      }, 
      {
        id: 6,
        hierarchy_name: "string",
        beacons: [
          {
            id: 11,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }, 
          {
            id: 12,
            beacon_name: "string",
            beacon_type: "string",
            beacon_radius: "string"
          }
        ]
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\beacons\type:api-config">
        <logger level="INFO" message="get:\beacons\type:api-config" />
    </flow>
    <flow name="get:\beacons\hierarchy\(id_beacon_hierarchy):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id_beacon_hierarchy">attributes.uriParams.id_beacon_hierarchy</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  name: "string"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\beacons\type\(id_beacon_type):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id_beacon_type">attributes.uriParams.id_beacon_type</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  name: "string"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\beacons\(id_beacon):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id_beacon">attributes.uriParams.id_beacon</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  beacon_type: "string",
  beacon_type_id: 1,
  beacon_hierarchy: "string",
  name: "string",
  beacon_hierarchy_id: 1,
  broadcast_url: "string",
  id_organization: "93AB2E19-1057-4EF3-9856-5089FB5E6628",
  id: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\beacons:api-config">
        <logger level="INFO" message="post:\beacons:api-config" />
    </flow>
    <flow name="post:\beacons\hierarchy:api-config">
        <logger level="INFO" message="post:\beacons\hierarchy:api-config" />
    </flow>
    <flow name="post:\beacons\type:api-config">
        <logger level="INFO" message="post:\beacons\type:api-config" />
    </flow>
</mule>
