Beacons/npma_beacons_system_api/src/main/mule/insert_beacon_type.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="insert_beacon_typeFlow" doc:id="70cc0822-992f-4322-9f8d-ca4e334e9757" >
		<logger level="INFO" doc:name="Logger" doc:id="053b6e22-bc5e-4776-9aab-53eace9b821e" message="#[payload]"/>
		<db:stored-procedure doc:name="insertBeaconType" doc:id="5676de0a-e048-4fa5-a00d-035569c71b8f" config-ref="Database_Config">
			<db:sql >{CALL insertBeaconType()}</db:sql>
			<db:input-parameters ><![CDATA[#[
      {
        xmlData: payload
      }
    ]]]></db:input-parameters>
		</db:stored-procedure>
	</flow>
</mule>
