Places/.tooling/npma_places_experience_api65aecc7d-21d0-451a-98a6-e0bb84cd9b8d/places-manager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="update-place-flow" doc:id="bd8dbe39-a5c6-4f5b-bc58-0ef402e62022" >
		<http:request method="PUT" doc:name="Request" doc:id="80a08066-ff5e-41da-b9fc-9812a855ff49" config-ref="HTTP_Request_configuration" path="/api/{id_organization}/places/{id_place}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	id_place : attributes.uriParams.id_place,
	id_organization : attributes.uriParams.id_organization
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="create-place-flow" doc:id="10e3a5f9-86cc-412c-9eb7-4a454bfc9692" >
		<http:request method="POST" doc:name="Request" doc:id="a52f6265-b5f2-4815-b39c-7f89c2902ea9" config-ref="HTTP_Request_configuration" path="/api/{id_organization}/places">
			<http:uri-params><![CDATA[#[output application/java
---
{
	id_organization : attributes.uriParams.id_organization
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-place-by-id-flow" doc:id="3f75a5ed-eb0e-41cd-9f04-229a8fe9ad2a" >
		<http:request method="GET" doc:name="Request" doc:id="58350f69-2cdd-4351-860b-36439acbf593" config-ref="HTTP_Request_configuration" path="/api/{id_organization}/places/{id_place}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	id_place : attributes.uriParams.id_place,
	id_organization : attributes.uriParams.id_organization
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-places-by-organization-flow" doc:id="69656530-9a3f-48e7-879d-5d02a1c11184" >
		<http:request method="GET" doc:name="Request" doc:id="61dffe22-227d-40f6-acbd-bbb8c13a24d2" config-ref="HTTP_Request_configuration" path="/api/{id_organization}/places">
			<http:uri-params><![CDATA[#[output application/java
---
{
	id_organization : attributes.uriParams.id_organization
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
