Beacons/npma-beacons-process-api/src/main/mule/api-main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="api-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener path="/api/*" config-ref="Beacons_HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="5fddb66c-a2c5-475b-a2e0-2108e3a08a66">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener path="/console/*" config-ref="Beacons_HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\beacons\(id_organization)\hierarchy\(id_beacon_hierarchy):application\json:api-config">
        <flow-ref doc:name="update-beacon-hierarchy-flow" doc:id="e3313368-858d-4495-ae0a-0129ae5bdf7e" name="update-beacon-hierarchy-flow" />
    </flow>
    <flow name="put:\beacons\(id_organization)\place_hierarchy:application\json:api-config">
        <flow-ref doc:name="update-beacon-place-hierarchy-flow" doc:id="ea501a64-3b9a-41cd-9531-788ffdc9c489" name="update-beacon-place-hierarchy-flow" />
    </flow>
	<flow name="put:\beacons\(id_organization)\type\(id_beacon_type):application\json:api-config">
        <flow-ref doc:name="update-beacon-type-flow" doc:id="ed0f6b9d-5182-4c68-9b27-257d28e4a8bd" name="update-beacon-type-flow" />
    </flow>
    <flow name="put:\beacons\(id_organization)\(id_beacon):application\json:api-config">
        <flow-ref doc:name="update-beacon-flow" doc:id="6686dc6b-9d01-46a3-91f9-f27ec2892973" name="update-beacon-flow" />
    </flow>
    <flow name="get:\beacons:api-config">
        <flow-ref doc:name="get-all-beacons-flow" doc:id="4056ac6b-2d56-4717-ade9-dda77078e076" name="get-all-beacons-flow" />
    </flow>
    <flow name="get:\beacons\(id_organization)\hierarchy:api-config">
        <flow-ref doc:name="get-beacons-hierarchies-flow" doc:id="7cae5dad-10bf-4b6f-b157-eb9de21d0088" name="get-beacons-hierarchies-flow" />
    </flow>
    <flow name="get:\beacons\(id_organization)\place_hierarchy:api-config">
        <flow-ref doc:name="get-beacons-place-hierarchy-flow" doc:id="35cda19f-0790-44ea-a8e1-fc2e8a06d7dd" name="get-beacons-place-hierarchy-flow" />
    </flow>
    <flow name="get:\beacons\(id_organization)\type:api-config">
        <flow-ref doc:name="get-beacons-types-in-organization-flow" doc:id="32e6f3bd-263a-4097-aaf2-5ece7a2e61e6" name="get-beacons-types-in-organization-flow" />
    </flow>
    <flow name="get:\beacons\(id_organization)\hierarchy\(id_beacon_hierarchy):api-config">
        <flow-ref doc:name="get-beacon-hierarchy-in-organization-flow" doc:id="5005f360-8277-4d56-b76a-aaedf368bda0" name="get-beacon-hierarchy-in-organization-flow" />
    </flow>
    <flow name="get:\beacons\(id_organization)\type\(id_beacon_type):api-config">
        <flow-ref doc:name="get-beacon-type-in-organization-flow" doc:id="98b089dc-7d80-46c3-b40f-ede992fe7690" name="get-beacon-type-in-organization-flow" />
    </flow>
    <flow name="get:\beacons\(id_organization)\(id_beacon):api-config">
        <flow-ref doc:name="get-beacon-by-id-in-organization-flow" doc:id="05f9d02b-1fe5-440e-9a5c-a635b55d1217" name="get-beacon-by-id-in-organization-flow" />
    </flow>
    <flow name="get:\beacons\(id_organization):api-config">
        <flow-ref doc:name="get-beacons-by-organization-flow" doc:id="ddd5e311-33c4-46b9-b06d-094eca2df746" name="get-beacons-by-organization-flow" />
    </flow>
    <flow name="post:\beacons\(id_organization)\hierarchy:application\json:api-config">
        <flow-ref doc:name="register-beacon-hierarchy-flow" doc:id="c7843c6f-6bd4-4fbb-8995-74a4da123e4e" name="register-beacon-hierarchy-flow" />
    </flow>
    <flow name="post:\beacons\(id_organization)\type:application\json:api-config">
        <flow-ref doc:name="register-beacon-type-flow" doc:id="bc062f84-68e5-4b61-9f66-0b6083032c4c" name="register-beacon-type-flow" />
    </flow>
	<flow name="post:\beacons\(id_organization):application\json:api-config">
        <flow-ref doc:name="register-beacon-flow" doc:id="d0566602-3eb4-4404-95bd-e32a004fcaed" name="register-beacon-flow" />
    </flow>
</mule>
