Users/.tooling/npma-user-process-apib06fa9ad-0878-476e-a7ce-7ce3a5fc5958/user-manager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="d4f5aecf-f281-4593-b1f0-2583e4095786" />
	<flow name="update-user-role-flow" doc:id="51d8b84a-8e03-4f71-9a82-3a1dac5a456e" >
		<http:request method="GET" doc:name="Request" doc:id="962e25a0-0619-4918-a96d-50a47852f57e" config-ref="User_HTTP_Request_configuration" path="/users/roles/{id_user_role}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user_role" : attributes.uriParams.id_user_role
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-user-role-flow" doc:id="6316b6c1-a905-4966-925c-42184ee8609f" >
		<http:request method="GET" doc:name="Request" doc:id="ca8fd19e-45af-4406-bfa7-884386802320" config-ref="User_HTTP_Request_configuration" path="/users/roles/{id_user_role}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user_role" : attributes.uriParams.id_user_role
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="create-user-role-flow" doc:id="f3991fcf-41ff-4cf0-a2ac-f650a29f554d" >
		<http:request method="GET" doc:name="Request" doc:id="b33542df-f15b-46b3-b822-76b0a92ef115" config-ref="User_HTTP_Request_configuration" path="/users/roles" />
	</flow>
	<flow name="get-users-roles-flow" doc:id="efb376a0-980f-4637-9328-3c67277baee2" >
		<http:request method="GET" doc:name="Request" doc:id="99a3557b-9143-4ea5-8219-8589c1839096" config-ref="User_HTTP_Request_configuration" path="/user/roles" />
	</flow>
	<flow name="validate-credentials-flow" doc:id="edf3d6b8-bcc8-4d1e-854c-799b500dc301" >
		<validation:is-true doc:name="Is true" doc:id="b6bbcf91-efbe-443e-ad24-2384532f7e11" />
		<http:request method="POST" doc:name="Request" doc:id="33a0c39c-f017-415e-82d7-1dc0e3e9467e" config-ref="User_HTTP_Request_configuration" path="/users/access"/>
		<logger level="INFO" message="post:\users\access:application\json:api-config" />
	</flow>
	<flow name="update-user-flow" doc:id="d23181c9-96b1-46e3-823a-de4fd86e6e70" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="fc8a13b1-bb3d-4794-a7ed-d6e7ed040d50">
            <ee:variables>
                <ee:set-variable variableName="id_user"><![CDATA[attributes.uriParams.id_user]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</flow>
	<flow name="get-user-by-id-flow" doc:id="ddb42ef3-44e8-40c7-8ede-f2ee61d8b199" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="64d1e621-6165-4366-837c-6538a536b36e">
            <ee:variables>
                <ee:set-variable variableName="id_user"><![CDATA[attributes.uriParams.id_user]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</flow>
	<flow name="create-user-flow" doc:id="1a11fe42-93be-43e7-ba69-2f7930f143c5" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="80b4c851-f6b3-4c6a-b489-705fbb9d7a4c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: true,
  message: "a new user has been created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
	<flow name="get-all-users-flow" doc:id="bac72930-ea91-4b86-8d35-498b546a12ba" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="f932b5fc-f536-4ddd-9f3c-1077ad7e83ab">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "ECB11EDB-3860-4733-9096-DC67FEDAD127",
    id_organization: "ECB11EDB-3860-4733-9096-DC67FEDAD127",
    organization: "Food Store",
    username: "userdemo",
    firstname: "Jhon",
    lastname: "Doe",
    password: "hallo!demo01",
    email: "jhondoe@foo.com"
  }, 
  {
    id: "ECB11EDB-3860-4733-9096-DC67FEDAD127",
    id_organization: "ECB11EDB-3860-4733-9096-DC67FEDAD127",
    organization: "Clothing Store",
    username: "userdemo",
    firstname: "Jhon",
    lastname: "Doe",
    password: "hallo!demo01",
    email: "jhondoe@foo.com"
  }, 
  {
    id: "ECB11EDB-3860-4733-9096-DC67FEDAD127",
    id_organization: "ECB11EDB-3860-4733-9096-DC67FEDAD127",
    organization: "Pet Shop",
    username: "userdemo",
    firstname: "Jhon",
    lastname: "Doe",
    password: "hallo!demo01",
    email: "jhondoe@foo.com"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
</mule>
