Places/.tooling-apps-cache/app/npma-places-system-api/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\(id_organization)\places\(id_place):application\json:api-config">
        <ee:transform doc:id="33c8be80-c310-48ff-ab40-07aa8dce61da">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/json
---
write(payload, "application/json")]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="id_organization"><![CDATA[attributes.uriParams.id_organization]]></ee:set-variable>
                <ee:set-variable variableName="id_place"><![CDATA[attributes.uriParams.id_place]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:stored-procedure doc:name="updatePlace" doc:id="494a856d-e67c-41b2-8d18-af4988a3baad" config-ref="Database_Config">
            <db:sql>{CALL updatePlace(:json)}</db:sql>
            <db:input-parameters><![CDATA[#[
	{
		'json': payload as String
	}
]]]></db:input-parameters>
        </db:stored-procedure>
        <logger level="INFO" doc:name="Store Procedure Executed Status" doc:id="b10a85f0-79d8-4091-8d4f-1deac72055e2" message="#[payload]"/>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: true,
  message: "a place has been updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\(id_organization)\places:api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_organization">attributes.uriParams.id_organization</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:stored-procedure doc:name="fecthPlacesByOrganization" doc:id="83233d49-7208-4746-a9b5-6089639c2b30" config-ref="Database_Config">
            <db:sql>{CALL fecthPlacesByOrganization(:idOrganization)}</db:sql>
            <db:input-parameters><![CDATA[#[
	{
		'idOrganization': attributes.uriParams.id_organization
	}
]]]></db:input-parameters>
        </db:stored-procedure>
        <flow-ref doc:name="serialize_result_set" doc:id="eb491077-a1be-4ac8-afb1-b6360796c95a" name="serialize_result_set" />
    </flow>
    <flow name="get:\(id_organization)\places\(id_place):api-config">
        <ee:transform doc:id="9e020994-81ea-4b39-b0b7-4bec6ee1a49a">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="id_organization"><![CDATA[attributes.uriParams.id_organization]]></ee:set-variable>
                <ee:set-variable variableName="id_place"><![CDATA[attributes.uriParams.id_place]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:stored-procedure doc:name="fecthPlaceById" doc:id="bc606521-e3f3-4d54-a628-9ce17802b0b4" config-ref="Database_Config">
            <db:sql>{CALL fecthPlaceById(:id)}</db:sql>
            <db:input-parameters><![CDATA[#[
	{
		'id': attributes.uriParams.id_place
	}
]]]></db:input-parameters>
        </db:stored-procedure>
        <flow-ref doc:name="serialize_result_set" doc:id="0622fee7-d51b-4385-aebe-15f5f4ae96c1" name="serialize_result_set" />
    </flow>
    <flow name="post:\(id_organization)\places:application\json:api-config">
        <ee:transform doc:id="c96c944f-fb47-4aa1-a6b9-f63ee68d0197">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/json
---
write(payload, "application/json")]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="id_organization"><![CDATA[attributes.uriParams.id_organization]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:stored-procedure doc:name="insertPlace" doc:id="a53a6804-daab-47a5-b8ea-dc51a7bb6216" config-ref="Database_Config">
            <db:sql>{CALL insertPlace(:json)}</db:sql>
            <db:input-parameters><![CDATA[#[
	{
		'json': payload as String
	}
]]]></db:input-parameters>
        </db:stored-procedure>
        <logger level="INFO" doc:name="Store Procedure Executed Status" doc:id="4a2b5fe8-cf9d-472d-8e5c-99c7e974631d" message="#[payload]"/>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="3f5946b0-6576-4f86-aae9-97d8840bdb92">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: true,
  message: "a new place has been created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\(id_organization)\places\(id_place):api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_organization">attributes.uriParams.id_organization</ee:set-variable>
                <ee:set-variable variableName="id_place">attributes.uriParams.id_place</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:stored-procedure doc:name="deletePlace" doc:id="20e9eb4b-4b4a-4fa1-92be-4c85b6952391" config-ref="Database_Config">
			<db:sql >{CALL deletePlace(:id)}</db:sql>
			<db:input-parameters ><![CDATA[#[
	{
		'id': vars.id_place
	}
]]]></db:input-parameters>
		</db:stored-procedure>
		<logger level="INFO" doc:name="Store Procedure Executed Status" doc:id="b67b5152-4f23-4b0b-8c6a-d83d28315cf2" message="#[payload]"/>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: true,
  message: "a place has been delete"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>