Omnichannel/npma-omnichannel-api/src/main/mule/users-channel.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="create-target-flow" doc:id="0057ebfa-8980-4803-a41e-6e6e401416d7" >
		<logger level="INFO" doc:name="Logger" doc:id="61edaae4-ace7-4bcc-9184-0d1eadbf2c68" message="#[payload]"/>
		<http:request method="POST" doc:name="users-api: POST: /users/target" doc:id="78d311b5-eba3-44e7-8f97-f96c8ab7257a" config-ref="Users_HTTP_Request_configuration" path="/users/target" />
	</flow>
	<flow name="get-info-user-flow" doc:id="3498eabb-283d-44ef-a9a2-34d4be75dccc" >
		<logger level="INFO" doc:name="Logger" doc:id="6500ac93-49c8-447e-bf85-7f63c29c8272" message="#[attributes.uriParams.id_user]"/>
		<http:request method="GET" doc:name="users-api: GET: /users/access/info/{id_user}" doc:id="6122d1dd-9031-4817-89b7-aa7deab0ea48" config-ref="Users_HTTP_Request_configuration" path="/users/access/info/{id_user}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user" : attributes.uriParams.id_user
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-target-flow" doc:id="5f616b25-5cca-4630-ba63-dde6e6a2e625" >
		<logger level="INFO" doc:name="Logger" doc:id="334ffce3-d80d-4ebd-9096-e57cbfda4f6c" message="#[message]"/>
		<choice doc:name="Choice" doc:id="edad5ca6-d328-47da-9b03-402f7bcedaa6" >
			<when expression="#[(attributes.queryParams.id_target != null) and (attributes.queryParams.id_organization == null) and (attributes.queryParams.id_content_card == null)]">
				<http:request method="GET" doc:name="users-api: GET: /users/target?id_target" doc:id="234ececf-2aac-44a1-b446-0eb22c6e233a" config-ref="Users_HTTP_Request_configuration" path="/users/target">
			<http:query-params><![CDATA[#[output application/java
---
{
	"id_target" : attributes.queryParams.id_target
}]]]></http:query-params>
		</http:request>
			</when>
			<when expression="#[(attributes.queryParams.id_target == null) and (attributes.queryParams.id_organization != null) and (attributes.queryParams.id_content_card == null)]">
				<http:request method="GET" doc:name="Copy_of_users-api: GET: /users/target?id_organization" doc:id="baaa0f67-4503-4d2b-87b5-71906f637cb0" config-ref="Users_HTTP_Request_configuration" path="/users/target">
					<http:query-params><![CDATA[#[output application/java
---
{
	"id_organization" : attributes.queryParams.id_organization
}]]]></http:query-params>
				</http:request>
			</when>
			<when expression="#[(attributes.queryParams.id_target == null) and (attributes.queryParams.id_organization == null) and (attributes.queryParams.id_content_card != null)]">
				<http:request method="GET" doc:name="users-api: GET: /users/target?id_content_card" doc:id="6b3e3ea9-5d36-4761-8457-bb1a1244474b" config-ref="Users_HTTP_Request_configuration" path="/users/target">
					<http:query-params><![CDATA[#[output application/java
---
{
	"id_content_card" : attributes.queryParams.id_content_card
}]]]></http:query-params>
				</http:request>
			</when>
			<when expression="#[(attributes.queryParams.id_target == null) and (attributes.queryParams.id_organization == null) and (attributes.queryParams.id_content_card == null)]">
				<http:request method="GET" doc:name="users-api: GET: /users/target" doc:id="cd89467c-519c-4bb2-bf8a-44daa0804675" config-ref="Users_HTTP_Request_configuration" path="/users/target"/>
			</when>
			<otherwise>
				<set-payload value='#["error: invalid query parameter"]' doc:name="Set Payload" doc:id="da5bbbb1-334a-482b-8480-c37491b651be" />
			</otherwise>
		</choice>
	</flow>
	<flow name="create-users-flow" doc:id="f89213d9-6def-47a8-a1ba-820b8888276d" >
		<logger level="INFO" doc:name="Logger" doc:id="22976db5-fd50-4971-bab7-cf21782c990c" message="#[payload]"/>
		<http:request method="POST" doc:name="users-api: POST: /users" doc:id="58a3faf7-a71e-44b9-89b2-d3e69e7d1146" config-ref="Users_HTTP_Request_configuration" path="/users" />
	</flow>
	<flow name="create-role-flow" doc:id="abf285ae-4e8e-4849-a624-ea044cce9e5a" >
		<logger level="INFO" doc:name="Logger" doc:id="29cc3a7c-29cf-49bf-9404-bfa670df4348" message="#[payload]"/>
		<http:request method="POST" doc:name="users-api: POST: /users/roles" doc:id="5962096e-2b34-45e5-8c37-7a55ac9d831f" config-ref="Users_HTTP_Request_configuration" path="/users/roles"/>
	</flow>
	<flow name="validate-access-flow" doc:id="e06f1e08-23eb-4703-8ffb-a5fdb363f1ed" >
		<logger level="INFO" doc:name="Logger" doc:id="62d2bf98-f89a-4def-9cf8-b7dddbf6fe15" message="#[{payload: payload, queryParams: attributes.queryParams, uriParams: attributes.uriParams}]"/>
		<http:request method="POST" doc:name="users-api: POST: /users/access" doc:id="667671dc-77f6-48b7-b374-4ae29b7f467d" config-ref="Users_HTTP_Request_configuration" path="/users/access"/>
	</flow>
	<flow name="get-user-flow" doc:id="47cbd25b-6ad5-4073-859c-0bbd77ce0826" >
		<logger level="INFO" doc:name="Logger" doc:id="95ed98b6-e596-4682-b98e-26398322823a" message="#[{payload: payload, queryParams: attributes.queryParams, uriParams: attributes.uriParams}]"/>
		<http:request method="GET" doc:name="users-api: GET: /users/{id_user}" doc:id="fd15624b-da35-4eda-8426-3a548e6980e1" config-ref="Users_HTTP_Request_configuration" path="/users/{id_user}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user" : attributes.uriParams.id_user
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-user-role-flow" doc:id="910d6446-42dc-4edf-991a-cc0fa4ab4592" >
		<logger level="INFO" doc:name="Logger" doc:id="47747720-636d-4d2f-8104-d418111bbd1d" message="#[{queryParams: attributes.queryParams, uriParams: attributes.uriParams}]"/>
		<http:request method="GET" doc:name="users-api: GET: /users/roles/{id_user_role}" doc:id="004e3ac5-51f8-43f5-a73e-0252e0a78146" config-ref="Users_HTTP_Request_configuration" path="/users/roles/{id_user_role}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user_role" : attributes.uriParams.id_user_role
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-users-flow" doc:id="26132767-54e5-4fcc-9f17-fcc953c84c5c">
		<logger level="INFO" doc:name="Logger" doc:id="7917b5dd-128d-4a64-8480-f9eb82267a47" message="#[{queryParams: attributes.queryParams, uriParams: attributes.uriParams}]" />
		<choice doc:name="Choice" doc:id="90d57b9e-e955-4952-812e-864e7ac0441b">
			<when expression="#[attributes.queryParams.id_organization != null]">
				<http:request method="GET" doc:name="users-api: GET: /users?id_organization" doc:id="c5215c4c-6d1d-42e3-b039-6f982086a3ab" config-ref="Users_HTTP_Request_configuration" path="/users">
					<http:query-params><![CDATA[#[output application/java
---
{
	"id_organization" : attributes.queryParams.id_organization
}]]]></http:query-params>
				</http:request>
			</when>
			<otherwise>
				<http:request method="GET" doc:name="users-api: GET: /users" doc:id="03ca0814-ce77-4ec6-823f-58cf9e821df0" config-ref="Users_HTTP_Request_configuration" path="/users" />
			</otherwise>
		</choice>
	</flow>
	<flow name="get-roles-flow" doc:id="86f61c66-83ef-475c-9f12-3077679563e0" >
		<logger level="INFO" doc:name="Logger" doc:id="f57413c2-c46b-4061-9e42-1b8a93e469ba" message="#[{payload: payload, queryParams: attributes.queryParams, uriParams: attributes.uriParams}]"/>
		<http:request method="GET" doc:name="users-api: GET: /users/roles" doc:id="0d0e0f11-edc0-48f0-af47-d7a3e5d7a614" config-ref="Users_HTTP_Request_configuration" path="/users/roles" />
	</flow>
	<flow name="update-user-flow" doc:id="f1d1280e-0e33-4f85-8c84-6b1c0e1a1236" >
		<logger level="INFO" doc:name="Logger" doc:id="15fd4753-e7ac-43ab-baec-f7963e222d3b" message="#[{payload: payload, queryParams: attributes.queryParams, uriParams: attributes.uriParams}]"/>
		<http:request method="PUT" doc:name="users-api: PUT: /users/{id_user}" doc:id="a089dea2-edff-4a44-8fca-a2af407963b0" config-ref="Users_HTTP_Request_configuration" path="/users/{id_user}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user" : attributes.uriParams.id_user
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="update-user-role-flow" doc:id="2eb593c3-efe0-471f-91bf-43e0649be552" >
		<http:request method="PUT" doc:name="users-api: PUT: /users/roles/{id_users_role}" doc:id="22b19beb-d625-4b76-8bcc-d3120f9a7fbf" config-ref="Users_HTTP_Request_configuration" path="/users/roles/{id_user_role}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_user_role" : attributes.uriParams.id_user_role
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
