Content_Cards/.tooling/npma-content-cards-process-api56100975-f172-4737-b9f6-cc632be9bb3d/content-cards-manager.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="create-content-card-flow" doc:id="edd7f581-2be8-4a14-9d4a-a92360d6c440" >
		<http:request method="POST" doc:name="POST:system-api/{id_organization}/content_cards" doc:id="16397bc8-42fe-4a0b-a332-b2cfc10eaee4" config-ref="HTTP_Request_configuration" path="/{id_organization}/content_cards">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_organization" : attributes.uriParams.id_organization
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-content-card-flow" doc:id="7749b339-bae9-4ffa-b875-5a8a84fe010b" >
		<http:request method="GET" doc:name="GET:system-api/{id_organization}/content_cards/{id_content_card}" doc:id="53f71ed4-86d8-49cd-9502-d4a2c35a79b4" config-ref="HTTP_Request_configuration" path="/{id_organization}/content_cards/{id_content_card}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_organization" : attributes.uriParams.id_organization,
	"id_content_card" : attributes.uriParams.id_content_card
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="get-content-cards-flow" doc:id="de1e3b7c-b8ae-42e7-a0e4-3d845c001eae" >
		<http:request method="GET" doc:name="GET:system-api/{id_organization}/content_cards" doc:id="24344f57-299a-4309-8048-ed11c30a88bb" config-ref="HTTP_Request_configuration" path="/{id_organization}/content_cards">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_organization" : attributes.uriParams.id_organization
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="update-content-card-flow" doc:id="8a14a716-b139-4e6a-98ac-6d541749269d" >
		<http:request method="PUT" doc:name="PUT:system-api/{id_organization}/content_cards/{id_content_card}" doc:id="18d402d4-2e56-4bc9-8a36-9e471f06e482" config-ref="HTTP_Request_configuration" path="/{id_organization}/content_cards/{id_content_card}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id_organization" : attributes.uriParams.id_organization,
	"id_content_card" : attributes.uriParams.id_content_card
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
